.input-container{
    display:flex;
    justify-content:center; 
    margin-top: 10px;
}
.input-container input {
    width: 180px;
    height: 32px;
    border: 1px solid;
    padding-left:30px;
}
.input-container button{
    color: #fff;
    background-color: #A4D3EE;
    border:1px solid #2c96d3;
    padding: 4px;
    font-family: Microsoft Yahei;
    font-size: 1.1rem;
}
.search-icon{
    margin:2px -30px 0 0;
    z-index:1;
    width: 30px;
    height: 30px;
    background-size:24px 24px;
    background-repeat:no-repeat;
    background-position:center;
}